{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "printWidth": 120,
  "singleQuote": false,
  "semi": false,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
